.blog-card {
  display: block;

  $this: &;

  &__image-link {
    @include size(270px, 280px);
    position: relative;
    width: 100%;
    overflow: hidden;

    @include screen('md') {
      height: 360px;
    }

    &:hover {

      #{$this}__image {
        transform: scale(1.15);
      }
    }
  }

  &__image {
    @include fill-img;

    transition: transform .5s ease;
  }

  &__info {
    margin-top: 40px;
    text-align: center;
  }

  &__title {
    @include text-feature-title;

    color: $color-main;
    text-transform: uppercase;
  }

  &__description {
    @include text;

    margin-top: 17px;
  }
}
