mixin header()
  - const navData = getData('nav-data.json')
  +b.HEADER.header&attributes(attributes)
    .container.header__container
      +e.content
        +logo('#', 'CS').header__logo
        +e.right
          +nav(navData).header__nav
          +e.social
            +e.A.link
              +fa-icon('fab fa-facebook-f')
            +e.A.link
              +fa-icon('fab fa-twitter')
            +e.A.link
              +fa-icon('fab fa-skype')
            +e.A.link
              +fa-icon('fab fa-linkedin-in')
          +burger.header__burger
    block
