.input {
  padding: 0 24px;
  height: 49px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-border;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1;
  border-radius: 0;
  min-height: 0;
  background-color: transparent;

  &[data-valid="true"] {
    border-color: $color-valid;

    & + .valid-message {
      display: none;
    }
  }

  &[data-valid="false"] {
    border-color: $color-invalid;

    & + .valid-message {
      color: $color-invalid;
    }
  }
}

.valid-message {

  &:not(:empty) {
    margin-top: 10px;
  }
}

.textarea {
  @extend .input;

  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 150px;
  resize: none;
}
