mixin feature(iconName, title, description)
  +b.feature&attributes(attributes)
    +e.top
      +e.icon-block
        +icon(iconName).icon
      +e.H3.title!= title
    +e.P.description!= description
    block
