.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-light;
  text-align: center;

  $this: &;

  &__title {
    @include text-feature-title;

    margin-top: 20px;
    text-transform: uppercase;
  }

  &__description {
    @include text;

    margin-top: 24px;

    @include screen('lg') {
      width: 100%;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__icon-block {
    @include size(133px);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: $color-feature;
    fill: $color-light;
  }

  &__icon {
    @include size(34px);
  }
}
