mixin footer()
  +b.FOOTER.footer&attributes(attributes)
    .container
      +e.content
        +e.copyright © 2016 PSDfreebies.com – All Right Reserved
        +e.made-by Design by: &#128029; PSDFreebies.com
    block
