mixin hero(href, src, title, subtitle)
  +b.hero&attributes(attributes)
    +e.IMG(src= src).bg-img
    +header.js-header
    .container
      +e.content
        +e.header
          +e.H1.title!= title
          +e.P.subtitle!= subtitle
        +e.scroll
          +e.scroll-text Scroll Down
          +e.A(href= href).scroll-btn.js-anchor
            +fa-icon('fas fa-angle-down')
      block
