.section {
  display: block;
  position: relative;
  overflow: hidden;

  $this: &;

  &--theme-primary {
    background-color: $color-main;
  }

  &__header {
    text-align: center;

    &--center {
      text-align: center;
    }

    &--left {
      text-align: left;
    }
  }

  &__title {

    h2 { @include heading-2; }
    h3 { @include heading-3; }

    position: relative;
    z-index: 0;
    text-transform: uppercase;

    &::before {
      @include pseudo;
      @include center-block;
      @include text-title-letter;

      z-index: -1;
      opacity: .18;
    }
  }

  &__subtitle {
    @include text-subtitle-2;
  }

  &__description {
    @include text;

    color: $color-basic;
  }

  &__wrapper {
    position: relative;
  }

  &__bg-img {
    @include fill-img;

    z-index: -1;
  }

  &--features {
    padding-top: 163px;
    padding-bottom: 125px;

    @include screen('sm') {
      padding-top: 120px;
      padding-bottom: 110px;
    }

    #{$this}__header {
      margin-bottom: 138px;
    }

    #{$this}__title {
      color: $color-light;

      &::before {
        content: 'W';
      }
    }
  }

  &--blog {
    padding-top: 155px;
    padding-bottom: 106px;

    @include screen('sm') {
      padding-top: 120px;
    }

    #{$this}__header {
      color: $color-basic;
      margin-bottom: 75px;
    }

    #{$this}__title {

      &::before {
        content: 'B';
      }
    }

    #{$this}__subtitle {
      margin-top: 103px;
    }
  }

  &--quick-action {
    padding-top: 106px;
    padding-bottom: 153px;

    @include screen('md') {
      padding-top: 90px;
      padding-bottom: 90px;
    }

    #{$this}__content {
      display: flex;

      @include screen('md') {
        flex-direction: column;
      }
    }

    .quick-action {
      flex-basis: 50%;
      fill: $color-light;
      color: $color-light;

      &:not(:last-child) {
        margin-right: 51px;

        @include screen('md') {
          margin-right: 0;
          margin-bottom: 60px;
        }
      }
    }
  }

  &--key-feature {
    padding-top: 99px;
    padding-bottom: 98px;

    #{$this}__title,
    #{$this}__description {
      color: $color-light;
    }

    #{$this}__header {
      margin-bottom: 65px;

      @include screen('sm') {
        text-align: center;
      }
    }

    #{$this}__title {
      margin-bottom: 30px;
    }

    #{$this}__content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1093px;
      margin-right: auto;

      @include screen('sm') {
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    #{$this}__col {

      &:first-child {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 475px;

        @include screen('sm') {
          margin-top: 60px;
        }
      }
    }

    .text-block {
      color: $color-light;

      @include screen('sm') {
        margin-left: auto;
        margin-right: auto;
      }

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &--team {
    padding-top: 130px;
    padding-bottom: 39px;

    @include screen('sm') {
      padding-top: 120px;
    }

    #{$this}__header {
      margin-bottom: 68px;
    }

    #{$this}__title {
      margin-bottom: 131px;

      &::before {
        content: 'T';
      }
    }
  }

  &--contact {
    padding-top: 216px;
    padding-bottom: 101px;

    @include screen('md') {
      padding-top: 160px;
    }

    @include screen('sm') {
      padding-top: 140px;
    }

    #{$this}__header {
      margin-bottom: 143px;
    }

    #{$this}__title {
      color: $color-light;

      &::before {
        content: 'C';
      }
    }

    .form {

      &__inputs {
        margin-bottom: 38px;

        @include screen('sm') {
          flex-direction: column;
        }

        .inputbox {
          width: 100%;

          &:not(:last-child) {
            margin-right: 28px;

            @include screen('sm') {
              margin-right: 0;
              margin-bottom: 28px;
            }
          }
        }
      }

      &__buttons {
        margin-top: 44px;
        justify-content: center;
      }
    }
  }
}
