.employee {
  display: block;
  position: relative;
  width: 100%;
  max-width: 270px;
  height: 414px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;

  $this: &;

  &__image-link {
    @include size(100%);

    position: relative;
    overflow: hidden;

    &:hover {

      #{$this}__image {
        transform: scale(1.15);
      }
    }
  }

  &__image {
    @include fill-img;

    transition: transform .5s ease;
  }

  &__info {
    position: relative;
    bottom: 48px;
    left: 0;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 19px 20px;
    background-color: $color-light;
    text-align: center;
  }

  &__name,
  &__job {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__name {
    margin-bottom: 7px;
    font-size: 20px;
    color: $color-main;
  }

  &__job {
    font-size: 15px;
    color: $color-darker;
  }
}
