mixin news(src, pretitle, title)
  +b.news&attributes(attributes)
    +e.wrapper
      +e.block
        +e.header
          +e.pretitle!= pretitle
          +e.H3.title!= title
        block
      +e.image-wrap
        +e.IMG(src= src).image

mixin news-description(text)
  +e.P.description&attributes(attributes)!= text
